body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    background-color: #2f4553;
    color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.tile {
    width: 100px;
    padding-top: 100px; /* This creates a square tile */
    position: relative;
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
}

.tile.hidden {
    background-color: #ccc;
}

.tile.mine {
    background-color: #ccc; /* Color same as hidden */
    color: white;
}

.tile.gem {
    background-color: #ccc; /* Color same as hidden */
    color: white;
}

.tile.revealed.mine {
    background-color: red;
}

.tile.revealed.gem {
    background-color: green;
}

.tile::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.previous {
    background-color: transparent;
    color: #ffffff;
}
