body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #2f4553;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    text-align: center;
    margin-top: 20px; /* Adjusted to ensure visibility */
    margin-bottom: 0;
}

.amount, .nav-buttons {
    margin: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #213743;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #213743;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1a2c3a;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

.tile {
    width: 32px; /* Adjusted from 52px to 40px */
    /*padding-top: 52px; !* Adjusted from 52px to 40px *!*/
    position: relative;
    background-color: #213743;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Add a smooth transition */
}

.tile.hidden {
    background-color: #213743;
}

.tile.mine {
    background-color: #213743; /* Color same as hidden */
    color: white;
}

.tile.gem {
    background-color: #213743; /* Color same as hidden */
    color: white;
}

.tile.revealed.mine {
    background-color: red;
}

.tile.revealed.gem {
    background-color: green;
}

.tile::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.previous {
    background-color: transparent;
    color: #ffffff;
}
