/* Roulette */

#roulette-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1e2a38;
    color: white;
}

#wheel-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

#wheel img {
    width: 100%;
    height: auto;
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 140px; /* Adjust to position the ball at the center */
    left: 140px; /* Adjust to position the ball at the center */
}

#betting-area {
    display: grid;
    gap: 5px;
    background-color: #1e2a38;
}

.betting-row {
    display: flex;
    justify-content: center;
}

.betting-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #333;
    cursor: pointer;
    border: 1px solid #444;
    color: white;
    font-size: 18px;
}

.betting-cell.red {
    background-color: red;
}

.betting-cell.black {
    background-color: black;
}

.betting-cell.green {
    background-color: green;
}

.betting-cell.selected {
    border: 2px solid yellow;
}

#result-message {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
