body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100,
            "YTLC" 500;

    background-color: #2f4553;
    color: #fff;
}

.slot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slot-machine {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px 64px;
    border-radius: 32px;
    border: 4px solid #333;
    box-shadow: #aaa 0 8px 32px;
    background: white;
    justify-content: center;
}

.reels {
    display: flex;
    gap: 32px;
}

.reel {
    font-size: 64px
}

.controls {
    display: flex;
    margin-top: 32px;
    box-shadow: #aaa 0 8px 32px;
    border-radius: 100px;
}

.controls button  {
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    border: 4px solid #333;
    background: white;
    color: #333;
    cursor: pointer;
    transition: .3s;
}

.controls button#spin {
    border-radius: 16px 0 0 16px;
    border-right: none;
    background: #4f7246;
    color: white;
}

.controls button#stop {
    border-radius: 0 16px 16px 0;
    border-left: none;
    background: #9d3e45;
    color: white;
}

.controls button:hover {
    opacity: 0.8;
}

.controls button:disabled {
    background: #ccc!important;
    color: #666!important;
    cursor: not-allowed;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 16px;
}

@keyframes spin {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(50%); }
}

.reel-spinning {
    animation: spin 0.25s linear infinite;
}

.upper-bar {
    filter: blur(8px);
    width: 100%;
    height: 64px;
    background-color: white;
    z-index: 999;
}

.lower-bar {
    filter: blur(8px);
    width: 100%;
    height: 64px;
    background-color: white;
    z-index: 999;
}

.bet-choices {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.bet-choice {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: .3s;
}

.bet-choice input[type="radio"] {
    display: none;
}

.bet-choice label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a6a6a6;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bet-choice input[type="radio"]:checked + label {
    background-color: #4f7246;
}


.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    background-color: #333;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 110px;
    text-align: center;
}

.game-cover{
    max-width: 106px;
}

/*Plinko */

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

#plinko-board {
    width: 350px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #000;
    position: relative;
    margin-bottom: 20px;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#controls label {
    margin: 5px;
    font-size: 16px;
    color: #ffffff;
}

#controls select,
#controls input[type="number"],
#controls button {
    width: 120px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #213743;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

#controls select:focus,
#controls input[type="number"]:focus,
#controls button:focus {
    outline: none;
    border-color: #ffcc00;
}

#controls button {
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #213743;
    color: #ffffff;
}


#result {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

#balance-container {
    font-size: 20px;
    margin-top: 5px;
    color: #ffffff;
}

canvas {
    width: 100%;
    height: 100%;
}